<launch>
	<!-- Da great node_watcher -->
	<node name="node_watcher" pkg="node_watcher" type="node" required="true"/>

	<!-- Da action performer -->
  <node name="drop" pkg="drop" type="drop_performer.py" required="true" />

	<!-- Test to perform -->
	<test test-name="test_drop_performer" pkg="drop" type="test_drop_performer.py" />
</launch>