<launch>
	<arg name="gui" default="true" />

	<env name="GAZEBO_MODEL_PATH" value="$(find beagle_description)/models:$(optenv GAZEBO_MODEL_PATH)" />
	<env name="GAZEBO_RESOURCE_PATH" value="$(find beagle_description)/stl:$(optenv GAZEBO_RESOURCE_PATH)" />

	<!-- Spawn world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find beagle_gazebo)/worlds/table.world" />
		<arg name="gui" value="$(arg gui)" />
	</include>

	<!-- Spawn robot -->
	<include file="$(find beagle_gazebo)/launch/spawn_robot.launch" />
</launch>