# Compiled files
*.pyc
html/

# Catkin-tools files and folders
build/
build_isolated/
devel/
devel_isolated/
logs/
.catkin_tools/

# Editors files
.vscode
*.sublime-project
*.sublime-workspace

# Python type checker
.mypy_cache
