<launch>
	<!-- Da great node_watcher -->
	<node name="node_watcher" pkg="node_watcher" type="node" required="true"/>

	<!-- Some action perfomers in python to test -->
  <node name="test_performers" pkg="action_manager" type="test_performers.py" required="true" />

	<!-- Tests to perform -->
	<test test-name="test_perform_client_py" pkg="action_manager" type="test_perform_client.py" time-limit="5.0" />
	<test test-name="test_action_py" pkg="action_manager" type="test_action.py" />
	<test test-name="test_action_group_py" pkg="action_manager" type="test_action_group.py" />
</launch>