{
  "actions": [
    {
      "name": "Move1",
      "action": 0,
      "point": 20,
      "difficulty" : 1,
      "PAction": {
        "start":{
          "x": 235,
          "y": 860
        }
      }
    },
    {
      "name": "Move2",
      "action": 0,
      "point": 20,
      "difficulty" : 1,
      "PAction": {
        "start":{
          "x": 850,
          "y": 850
        }
      }
    },
    {
      "name": "Move3",
      "action": 0,
      "point": 20,
      "difficulty" : 1,
      "PAction": {
        "start":{
          "x": 200,
          "y": 1200
        }
      }
    },
    {
      "name": "Block",
      "action": 1,
      "point": 20,
      "difficulty" : 1,
      "PAction": {
        "start":{
          "x": 200,
          "y": 1200,
          "angle": 0

        },
        "end":{
          "x": 10,
          "y": 10,
          "angle": 3141
        }
      }
    }
  ]
}
