{
	"actions": [
		{
			"name": "MOVE1",
			"action": 0,
			"point": 15,
			"difficulty": 1,
			"PAction": {
				"start": {
					"x": 850,
					"y": 400,
					"angle": 0

				}
			}
		},
		{
			"name": "MOVE2",
			"action": 0,
			"point": 15,
			"difficulty": 10,
			"PAction": {
				"start": {
					"x": 850,
					"y": 850,
					"angle": -3141

				}
			}
		},
		{
			"name": "MOVE3",
			"action": 0,
			"point": 15,
			"difficulty": 100,
			"PAction": {
				"start": {
					"x": 310,
					"y": 850,
					"angle": -3141

				}
			}
		},
		{
			"name": "MOVE4",
			"action": 0,
			"point": 15,
			"difficulty": 200,
			"PAction": {
				"start": {
					"x": 500,
					"y": 850,
					"angle": -3141

				}
			}
		}
	]
}
