{
  "actions": [
    {
      "name": "test1",
      "point": 99,
      "PAction": {
        "start":{
          "x": 0,
          "y": 0
        },
        "end":{
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "name": "test2",
      "point": 6,
      "PAction": {
        "start":{
          "x": 0,
          "y": 0
        },
        "end":{
          "x": 0,
          "y": 0
        }
      }
    }
  ]
}
