{
	"actions": [
		{
			"name": "MOVE1",
			"action": 0,
			"point": 15,
			"difficulty": 1,
			"PAction": {
				"start": {
					"x": 330,
					"y": 1130,
					"angle": -3141

				}
			}
		},
		{
			"name": "MOVE2",
			"action": 0,
			"point": 15,
			"difficulty": 10,
			"PAction": {
				"start": {
					"x": 180,
					"y": 1130,
					"angle": -3141

				}
			}
		},
		{
			"name": "MOVE3",
			"action": 0,
			"point": 15,
			"difficulty": 50,
			"PAction": {
				"start": {
					"x": 330,
					"y": 1130,
					"angle": -3141

				}
			}
		}
	]
}

