{
	"actions": [
  {
    "name": "DEPOS_WHITE_CUBE",
    "action": 0,
    "point": 1,
    "difficulty": 1,
    "PAction": {
      "start": {
        "x": 210,
        "y": 450,
        "angle": 1571

      }
    },
		"_comment" : "[timeout]",
		"param" : [5]
		},
  {
    "name": "RESET",
    "action": 0,
    "point": 1,
    "difficulty": 10,
    "PAction": {
      "start": {
        "x": 210,
        "y": 210,
        "angle": 785

      }
    },
		"_comment" : "[timeout]",
		"param" : [5]
},
	{
		"name": "MOVE1_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 20,
		"PAction": {
			"start": {
				"x": 850,
				"y": 400,
				"angle": 0

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	},
	{
		"name": "MOVE2_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 30,
		"PAction": {
			"start": {
				"x": 850,
				"y": 850,
				"angle": -3141

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	},
	{
		"name": "PUSH_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 40,
		"PAction": {
			"start": {
				"x": 280,
				"y": 850,
				"angle": -3141

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	},
	{
			"name": "BACK_CUBE1",
			"action": 0,
			"point": 1,
			"difficulty": 50,
			"PAction": {
				"start": {
					"x": 500,
					"y": 850,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "MOVE1_PANEL",
			"action": 0,
			"point": 1,
			"difficulty": 60,
			"PAction": {
				"start": {
					"x": 850,
					"y": 850,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "PUSH_PANEL",
			"action": 0,
			"point": 1,
			"difficulty": 70,
			"PAction": {
				"start": {
					"x": 280,
					"y": 850,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "BACK_PANEL",
			"action": 0,
			"point": 1,
			"difficulty": 80,
			"PAction": {
				"start": {
					"x": 1000,
					"y": 850,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "MOVE1_CUBE2",
			"action": 0,
			"point": 1,
			"difficulty": 90,
			"PAction": {
				"start": {
					"x": 1300,
					"y": 250,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "MOVE2_CUBE2",
			"action": 0,
			"point": 1,
			"difficulty": 100,
			"PAction": {
				"start": {
					"x": 280,
					"y": 650,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "BACK_CUBE2",
			"action": 0,
			"point": 1,
			"difficulty": 110,
			"PAction": {
				"start": {
					"x": 600,
					"y": 650,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "RESET2",
			"action": 0,
			"point": 1,
			"difficulty": 120,
			"PAction": {
				"start": {
					"x": 300,
					"y": 300,
					"angle": 1571

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		}
    ]

  }
