{
	"actions": [
		{
			"name": "MOVE1",
			"action": 0,
			"point": 1,
			"difficulty": 1,
			"PAction": {
				"start": {
					"x": 330,
					"y": 1140,
					"angle": -3141

				}
				},
				"_comment" : "[timeout]",
				"param" : [0]
		},
		{
			"name": "MOVE2",
			"action": 0,
			"point": 1,
			"difficulty": 10,
			"PAction": {
				"start": {
					"x": 148,
					"y": 1140,
					"angle": -3141

				}
			},
			"_comment" : "[timeout]",
			"param" : [5]
		},
		{
			"name": "MOVE3",
			"action": 0,
			"point": 1,
			"difficulty": 50,
			"PAction": {
				"start": {
					"x": 850,
					"y": 1140,
					"angle": -3141

				}
				},
				"_comment" : "[timeout]",
				"param" : [0]
		},
		{
		"name": "MOVE2_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 100,
		"PAction": {
			"start": {
				"x": 850,
				"y": 850,
				"angle": -3141

			}
		},
		"_comment" : "[timeout]",
		"param" : [0]
	},
	{
		"name": "PUSH_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 200,
		"PAction": {
			"start": {
				"x": 280,
				"y": 850,
				"angle": -3141

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	},
	{
		"name": "BACK_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 250,
		"PAction": {
			"start": {
				"x": 350,
				"y": 850,
				"angle": -3141

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	},
{
		"name": "PUSH_CUBE1",
		"action": 0,
		"point": 1,
		"difficulty": 300,
		"PAction": {
			"start": {
				"x": 300,
				"y": 300,
				"angle": 1741

			}
		},
		"_comment" : "[timeout]",
		"param" : [5]
	}
	]
}
