<launch>
	<rosparam command="load" file="param/server_param.yaml" />
	<group ns="ai">
		<include file="$(find node_watcher)/launch/pkg.launch" />
		<include file="$(find scheduler)/launch/pkg.launch" />
		<include file="$(find controller)/launch/pkg.launch" />
	</group>

	<group ns="actions">
		<include file="$(find idle)/launch/pkg.launch" />
		<include file="$(find reach)/launch/pkg.launch" />
	</group>

	<group ns="interface">
		<param name="can_interface/device" value="can0" />

		<include file="$(find gpio_handler)/launch/pkg.launch" />
		<include file="$(find can_interface)/launch/pkg.launch" />
	</group>
</launch>
