<launch>
	<group ns="ai">
		<include file="$(find node_watcher)/launch/pkg.launch"/>
		<include file="$(find scheduler)/launch/pkg.launch"/>
		<include file="$(find controller)/launch/pkg.launch"/>
	</group>

	<group ns="procedures">
		<include file="$(find idle)/launch/pkg.launch"/>
		<include file="$(find reach)/launch/pkg.launch"/>
	</group>

	<group ns="interface">
		<param name="can_interface/device" value="vcan0" />
		<!-- Interface to a fake can bus redirecting to simulation node -->
		<include file="$(find can_interface)/launch/pkg.launch" />
	</group>

	<group ns="simulation">
		<include file="$(find input_simulation)/launch/pkg.launch"/>
	</group>
</launch>
