<launch>
	<!-- <rosparam command="load" file="param/server_param.yaml" /> -->
	<group ns="nodeTest">
		<include file="./src/nodeTest/sender/launch/pkg.launch"/>
		<include file="./src/nodeTest/receiver/launch/pkg.launch"/>
		<!-- <include file="./src/nodeTest/cpp_test/launch/pkg.launch"/> -->
	</group>
</launch>
