<launch>
	<rosparam command="load" file="param/server_param.yaml" />
	<group ns="ai">
		<include file="./src/ai/node_watcher/launch/pkg.launch"/>
	</group>
	<group ns="test_controller">
		<include file="./src/simple_test/launch/pkg.launch"/>
	</group>
	<group ns="ros_can">
		<include file="./src/ros_can/socketcan_bridge/launch/pkg.launch"/>
	</group>
	<group ns="interface">
		<include file="./src/interface/can_interface/launch/pkg.launch"/>
		<include file="./src/interface/gpio_handler/launch/pkg.launch"/>
	</group>
</launch>
